<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odi.sol.dgame" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionActivity"
            android:label="@string/title_activity_instruction"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odi.sol.dgame.MainMenuActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odi.sol.dgame.MainMenuActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odi.sol.dgame.MainMenuActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName=".GameActivity"
            android:theme="@style/AppTheme3" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odi.sol.dgame.GameActivity" />
        </activity>
    </application>

</manifest>
